.invisible {
    display: none;
}

.shopping-list-items {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: #d50000;
}

.btn-remove {
    background-color: #d50000;
}